<p>There's a pile of diving gear on the deck, and some tools.
There is a ladder.
You are having to do this not like Cousteau with his assiduous team.</p>

<%= @deck %>

<%= render 'form', deck: @deck %>

<form>
  <input id="action"></input>
  <button>go</button>
</form>
